*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Inter', sans-serif;
}

button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}
/** Header */
ul, li{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: #333333;
}

header{
    position: relative;
    height: 100vh;
    background-position-x: left;
    background-position-y: bottom;
    background-repeat: no-repeat;
    .orb-canvas{
        position: absolute;
        right: 0;
        bottom: 0;
        z-index: -1;
    }
    nav{
        justify-content: space-between;
        align-items: center;
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        padding-top: 20px;
        ul{
            display: flex;
            li{
                margin-right: 50px;
                font-weight: 400;
                font-size: 16px;
                line-height: 19px;
                text-transform: capitalize;
                &:last-child{
                    margin-right: 0;
                }
            }
        }
        .lang{
            font-weight: 500;
            font-size: 16px;
            line-height: 19px;
            text-transform: capitalize;
            color: #333333;
        }
        .logo{
            margin-right: 20px;
        }
        .contact-button{
            display: flex;
            padding: 15px 30px;
            background: #B58CDD;
            box-shadow: 0px 4px 15px rgba(72, 36, 107, 0.2);
            border-radius: 30px;
            font-weight: 700;
            font-size: 16px;
            line-height: 19px;
            color: #fff;
        }
    }
    .header-content-wrp{
        display: flex;
        align-items: center;
        flex-direction: column;
        h1{
            font-weight: 600;
            font-size: 75px;
            line-height: 98px;
            text-align: center;
            letter-spacing: 0.05em;
            text-transform: uppercase;
            color: #333333;
            max-width: 670px;
            margin: 0 auto;
            margin-top: 323px;
        }
        hr{
            background: #333333;
            height: 2px;
            width: 370px;
            margin: 0 auto;
            margin-top: 50px;
            margin-bottom: 50px;
            border: none;
        }
        .quote{
            background: #FFFFFF;
            box-shadow: 0px 4px 15px rgba(72, 36, 107, 0.2);
            border-radius: 30px;
            p{
                font-weight: 700;
                font-size: 16px;
                line-height: 19px;
                padding: 15px 30px;
                background: linear-gradient(64.29deg, #5EFCE8 0%, #CE9FFC 100%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }
    }
}

h2{
    font-weight: 600;
    font-size: 75px;
    line-height: 91px;
    text-transform: capitalize;
    color: #333333;
}
.services{
    margin-top: 100px;
    .services-wrp{
        max-width: 1170px;
        margin: 0 auto;
        padding-bottom: 100px;
        border-bottom: 2px solid #E0E0E0;
        h2{
            margin-bottom: 20px;
        }
        .desc{
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            text-transform: capitalize;
            color: #333333;
            max-width: 470px;
        }
        .services-list{
            margin-top: 100px;
            display: flex;
            li{
                background: rgba(255, 255, 255, 0.6);
                box-shadow: 0px 4px 14px -1px rgba(51, 51, 51, 0.35);
                backdrop-filter: blur(40px);
                border-radius: 20px;
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 20px;
                margin-right: 30px;
                &:nth-child(3n){
                    margin-right: 0;
                }
                .price{
                    display: flex;
                    justify-content: space-between;
                    p{
                        font-weight: 500;
                        font-size: 16px;
                        line-height: 19px;
                        text-transform: capitalize;
                        color: #333333;
                        span{
                            color: #B58CDD;
                        }
                    }
                }
                .serv{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-bottom: 50px;
                    img{
                        margin-right: 30px;
                    }
                    h5{
                        font-weight: 500;
                        font-size: 16px;
                        line-height: 19px;
                        text-transform: uppercase;
                        color: #333333;
                        &::after{
                            content: "";
                            width: 250px;
                            height: 2px;
                            display: block;
                            margin-top: 15px;
                            background-color: #333333;
                        }
                    }
                }
            }
        }
    }
}

.stages{
    padding-bottom: 100px;
    border-bottom: 1px solid #E0E0E0;
    .stages-wrp{
        max-width: 1170px;
        margin: 0 auto;
        margin-top: 100px;
        .heading{
            text-align: right;
            p{
                max-width: 470px;
                margin-top: 20px;
                margin-left: auto;
                margin-bottom: 100px;
            }
        }
        .stages-text-wrp{
            display: flex;
            justify-content: space-between;
        }
        .stages-text{
            padding-top: 70px;
            position: relative;
            max-width: 370px;
            margin-right: 180px;
            h5{
                font-weight: 500;
                font-size: 24px;
                line-height: 29px;
                color: #333333;
                margin-bottom: 20px;
            }
            p{
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
                color: #333333;
            }
            .count{
                font-weight: 400;
                font-size: 230px;
                line-height: 278px;
                text-transform: capitalize;
                color: #F2F2F2;
                position: absolute;
                left: 0;
                top: 0;
                z-index: -1;
            }
        }
    }
    .slick-dots li button {
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        text-transform: uppercase;
        color: #333333;
        border: 1px solid #828282;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .slick-dots li.slick-active button{
        color: #70CFCB;
        background: #D4ECEB;
        border-color: #D4ECEB;
    }
    .slick-dots{
        margin-right: 60px;
    }
    .slick-vertical{
        display: flex;
        flex-direction: row-reverse;
    }
    .slick-dots li{
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;
        &:last-child{
            &::after{
                display: none;
            }
        }
        &::after{
            content: "";
            width: 2px;
            height: 100px;
            display: block;
            border-left-style: dashed;
            border-left-color: #828282;
            border-left-width: 2px;
        
        }
    }
    .slick-dots li:last-child{
        margin-bottom: 0;
    }
}

.works{
    padding-top: 100px;
    .works-wrp{
        max-width: 1170px;
        margin: 0 auto;
        .heading{
            p{
                max-width: 470px;
                margin-top: 20px;
            }
        }
    }
    .works-slider{
        margin-top: 100px;
        .item-my{
            padding-left: 12.5%;
            img{
                width: 200px;
                max-height: 570px;
                box-shadow: 0px 4px 24px -1px rgba(51, 51, 51, 0.3);
            }
        }
    }
}